[core]
	excludesfile = ~/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	trustExitCode = true

[mergetool]
  cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"

[color]
	ui = true

[user]
	name = Aaron Botnick
	email = "(none)"

[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	co = checkout
	cm = commit -m
	br = branch
	st = status
	dns = diff --ignore-space-change
[push]
	default = simple
